<div id="wrap">
	<section>
		<nav>
			<div id="site-nav">
				<li class="nav-bar">Navigation
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/users">Users</a></li>
						<li><a href="/beers">Beers</a></li>
						<li><a href="/breweries">Breweries</a></li>
					</ul>
				</li>
			</div>
			<div id="user-nav">
				<a class="nav-bar" href="/users/login">Login</a> ||
				<a class="nav-bar" href="/users/new">Register</a> ||
				<a class="nav-bar" href="/users/logout">Log Out</a>
			</div>
		</nav>
	</section>
		<hr>
	<section>
		<div>
			<a href="/"><h1 id="home-head">BeerFridge</h1></a>
		</div>
	</section>
	<br>
</div>