<nav>
	<div>
		<a href="/">Home</a>
	</div>
	<div>
		<a href="/users/login">Login</a>
		<a href="/users/new">Register</a>
		<a href="/users/show">User Page</a>
		<a href="/users/logout">Log Out</a>
	</div>
</nav>