<body>
	<div id="body">
		<section>
			<nav>
				<div id="site-nav">
					<li class="nav-bar">Navigation
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/users">Users</a></li>
							<li><a href="/beers">Beers</a></li>
							<li><a href="/breweries">Breweries</a></li>
						</ul>
					</li>
				</div>
				<div id="user-nav">
					<%if (session.loggedIn) {%>
						<a class="nav-bar" href="/users/logout">Log Out</a> ||
						<a class="nav-bar" href="/users/<%=session._id%>">Profile</a>
					<%} else {%>
						<a class="nav-bar" href="/users/login">Login</a> ||
						<a class="nav-bar" href="/users/new">Register</a>
					<%}%>
					
				</div>
			</nav>
		</section>
			<hr>
		<section>
			<div>
				<a href="/"><h1 id="home-head">BeerFridge</h1></a>
			</div>
		</section>
		<br>