<% include partials/head %>
<body>
<% include partials/header %>

<main>
	<div id="intro">
		<h3>What's in your fridge?</h3>
		<p>New to BeerFridge? Sign up <a href="/users/new">here</a>!</p>
		<p>Already have an account? Log in <a href="/users/login">here</a>!</p>
		<img id="home-img" src="/images/580b57fbd9996e24bc43c097.png">
	</div>
</main>

<% include partials/footer %>