<% include partials/head %>
<body>
<% include partials/header %>

<main>
	<div>
		<a href="/beers"><img id="home-img" src="https://puu.sh/CDKZa/edea0aee82.png" alt="big bar selection" /></a>
	</div>


</main>

<% include partials/footer %>