<% include partials/head %>
<% include partials/header %>

<div id="img-contain-wrap">
	<h1>What's in your fridge?</h1>
	<div id="intro">
		New to BeerFridge? Sign up <a href="/users/new">here</a>!
		<br>
		Already have an account? Log in <a href="/users/login">here</a>!
	</div>
</div>
<br>
<div class="wrap">
	<h1>What's New on BeerFridge?</h1>
	<p>BeerFridge Beta is up and running! Here are some things you can do on BeerFridge Beta:</p>
	<ul>
		<li>• Add a profile picture to your account</li>
		<li>• Add beers to your fridge</li>
		<li>• Drink beers in your fridge</li>
		<li>• Add your favorite new beer or brewery</li>
		<li>• See other user's fridge with all of their favorites</li>
	</ul>
	<br>
	<p>Many new features coming soon!</p>
</div>
<br><br>

<% include partials/footer %>