<% include partials/head %>
<% include partials/header %>

<div id="img-contain-wrap">
	<h1>What's in your fridge?</h1>
	<div id="intro">
		New to BeerFridge? Sign up <a href="/users/new">here</a>!
		<br>
		Already have an account? Log in <a href="/users/login">here</a>!
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
		content<br>
	</div>
</div>

<div class="wrap">
	<h1></h1>
</div>

<% include partials/footer %>