<% include partials/head %>
<% include partials/header %>

<div class="wrap">
	<h1>What's in your fridge?</h1>
	<div id="intro">
		New to BeerFridge? Sign up <a href="/users/new">here</a>!
		<br>
		Already have an account? Log in <a href="/users/login">here</a>!
		<img id="home-img" src="/images/580b57fbd9996e24bc43c097.png">
	</div>
</div>

<div>
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
	<br>content
</div>

<% include partials/footer %>