<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1>Our Users</h1>
	<div class="ejs-text">
		<ul>
			<% for (let i=0; i < users.length; i++){%>
				<li>
					<a href="/users/<%=users[i]._id%>"><%=users[i].username%></a>
				</li>
			<%}%>
		</ul>
	</div>
</div>

<% include ../partials/footer%>