<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1>Breweries</h1>
	<div class="ejs-text">
		<%if(currentUser) {%>
		<h3><a href="/breweries/new">MAKE A NEW BREWERY</a></h3>
		<%}%>

		<ul>
			<% for (let i = 0; i < breweries.length; i++) {%>
				<li>
					<a href="/breweries/<%=breweries[i]._id%>"><%=breweries[i].name%></a>
				</li>
			<%}%>
		</ul>
	</div>
</div>

<% include ../partials/footer%>