<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1>Breweries</h1>
	<div class="ejs-text">
		<ul>
			<% for (let i = 0; i < breweries.length; i++) {%>
				<li>
					<a href="/breweries/<%=breweries[i]._id%>"><%=breweries[i].name%></a>
				</li>
			<%}%>
		</ul>
	</div>
	<br>
	<%if(currentUser) {%>
		<form action="/breweries/new" method="GET">
			<button>Make a New Brewery</button>
		</form>
	<%}%>
	<br>
</div>

<% include ../partials/footer%>