<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1>Beers</h1>
	<div id="beer-index" class="ejs-text">
		<ul>
			<% for (let i = 0; i < beers.length; i++) {%>
				<li>
					<a href="/beers/<%=beers[i]._id%>"><%=beers[i].name%></a>
				</li>
			<%}%>
		</ul>
	</div>
	<br>
	<%if (currentUser) {%>
		<form action="/beers/new" method="GET">
			<button>Add a New Beer</button>
		</form>
	<%}%>
	<br>
</div>

<% include ../partials/footer%>