<% include ../partials/head %>
<% include ../partials/header %>

<main>
	<div class="wrap">
		<h1>BEERS</h1>
		<%if (currentUser) {%>
			<h3><a href="/beers/new">MAKE NEW BEER</a></h3>
		<%}%>
		<ul>
			<% for (let i = 0; i < beers.length; i++) {%>
				<li>
					<a href="/beers/<%=beers[i]._id%>"><%=beers[i].name%></a>
				</li>
			<%}%>
		</ul>
	</div>
</main>

<% include ../partials/footer%>