<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1>Make A New Beer</h1>
	<br>
	<p><%=session.beerMessage%></p>
	<div class="ejs-text">
		<form action="/beers" method="POST" enctype="multipart/form-data">
			<label for="name">Name of New Beer</label>
			<input type="text" name="name" placeholder="Beer Name">
			<br>

			<label for="type">Select the Style of Beer</label>
			<select name="type" id="beer-type-new">
				<option value="" disabled selected>Select a Type</option>
				<option value="Ale">Ale</option>
				<option value="Amber">Amber</option>
				<option value="Blonde">Blonde</option>
				<option value="Brown">Brown</option>
				<option value="Cream">Cream</option>
				<option value="Fruit">Fruit</option>
				<option value="IPA">IPA</option>
				<option value="Light">Light</option>
				<option value="Pale">Pale</option>
				<option value="Pilsner">Pilsner</option>
				<option value="Porter">Porter</option>
				<option value="Strong">Strong</option>
				<option value="Stout">Stout</option>
				<option value="Wheat">Wheat</option>
			</select>
			<br>
			<label for="price">Price ($ - $$$$)</label>
			<input class="price-range" type="range" name="price" min="1" max="4" list="tickmarks">
				<datalist id="tickmarks">
					<option value="1">
					<option value="2">
					<option value="3">
					<option value="4">
				</datalist>
			<br>
			<label for="flavor">How Does It Taste?</label>
			<textarea name="flavor" placeholder="if it's good, tell us how"></textarea>
			<br>
			<label for="color">Color of Beer</label>
			<select name="color" id="beer-color-new">
				<option value="" disabled selected>Select a Color</option>
				<option value="Pale Straw">Pale Straw</option>
				<option value="Straw">Straw</option>
				<option value="Pale Gold">Pale Gold</option>
				<option value="Deep Gold">Deep Gold</option>
				<option value="Pale Amber">Pale Amber</option>
				<option value="Medium Amber">Medium Amber</option>
				<option value="Deep Amber">Deep Amber</option>
				<option value="Amber-Brown">Amber-Brown</option>
				<option value="Brown">Brown</option>
				<option value="Ruby-Brown">Ruby-Brown</option>
				<option value="Deep Brown">Deep Brown</option>
				<option value="Black">Black</option>
			</select>
			<br>
			<label for="maker">Where Is It Brewed?</label>
			<select name="maker" id="breweries-option-new">
				<option value="" disabled selected>Brewery</option>
				<% for (let i = 0; i < breweries.length; i++) { -%>
					<option value="<%= breweries[i].name %>"><%= breweries[i].name %></option>
				<% } -%>
			</select>
			<p>Don't see your beer's brewery? Click <a href="/breweries/new">here</a>.</p>
			<br>
			<img id="beerImgUpload" class="upload-img" src= "/images/beerdefault.png" alt="default profile picture of beer">
			<label>Choose Beer's Picture</label>
			<script> 
				document.addEventListener("DOMContentLoaded", function(event){
					$('#beerImg').on("click", function(event){
						$('.imageFile').change(function(){
							readImgUrlAndPreview(this);
							function readImgUrlAndPreview(input){
								if (input.files && input.files[0]) {
									const newReader = new FileReader();
									newReader.onload = function(e) {
										$('#beerImgUpload').attr('src', e.target.result);
									}
									newReader.readAsDataURL(input.files[0]);
								};
							}
						})
					})
				});
			</script>
			<label id="beerImg" class="custom">Upload a File<br>
			<input class="imageFile" type="file" name="imageFile" /></label>
			<br><br>
			<input type="hidden" name="user" value="<%=user.username%>">
			<button>Add Your New Beer</button>
			<br><br>

		</form>
	</div>
</div>

<% include ../partials/footer%>