<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1>Make A New Beer</h1>
	<div class="ejs-text">
		<form action="/beers" method="POST" enctype="multipart/form-data">
			<input type="text" name="name" placeholder="Beer Name"><br>
			<input type="text" name="type" placeholder="type"><br>
			<div>
				<label for="price">Price</label>
				<input type="range" name="price" min="1" max="4"><br>
			</div>
			<label for="flavor">Taste Description</label><br>
			<textarea name="flavor"></textarea><br>
			<input type="text" name="color" placeholder="Color"><br><br>
			<select name="maker" id="breweries-option-new">
				<% for (let i = 0; i < breweries.length; i++) { -%>
					<option value="<%= breweries[i].name %>"><%= breweries[i].name %></option>
				<% } -%>
			</select><br>
			<p>Don't see your beer's brewery? Click <a href="/breweries/new">here</a>.</p><br>
			<input type="file" name="imageFile"><br>
			<input type="hidden" name="user" value="<%=user.username%>"><br>
			<button>New Beer</button>
		</form>
	</div>
</div>

<% include ../partials/footer%>